# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# misc
*.o
*~
*.tmp
*.a
*.d
*.out
*.out.core
127.0.0.1.*
*.jpg
*.bmp
